*{
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;}

.header{
  &__alert{
    width: 100%;
    background-color: #38AEF0;
  }
}

.right-contents{
  width: calc(100vw - 300px);
  float:left;
 
  .header{
    border-bottom: solid #eeeeee;
    background-color: #fafafa;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    .group_detail{
      padding-left: 40px;
      &__current-group{
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 20px;
        color: #333333;
      }
     
      &__member-list{
        font-size: 12px;
        color: #999999;
      }
    }
      
    &__edit-btn{
      height:40px;
      padding: 0px 20px 0px 20px;
      margin:28px 40px 0px 0px;
      border: solid 1px #38AEF0;
      line-height:40px;
    }
    .edit-btn{
      color: #38AEF0;
      text-decoration: none;

    }
  }

  .messages{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 0 40px 0 40px ;
    display: block;
    overflow: auto;


    &__title{
      
        &--user{
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        padding-top: 46px;
        padding-right: 10px;
        float: left;
      }
      &--date{
        font-size: 12px;
        color: #999999; 
        padding-top: 46px;
        }
      }

    &__text{
      font-size: 14px;
      color: #434A54;
      margin-top: 10px;

      padding-bottom: 40px;
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px 20px 40px;
    // display: flex;
    // justify-content: space-between;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left:15px;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }


      // font-size: 16px;
      // color: #434a54;
      // margin: auto 0 auto 40px ;
      // padding-left: 10px;
      // line-height: 50px;

        // .form__mask__images{
        //   font-size: 20px;
        //   color: black;
        //   display:inline;
        //   float: right;
        //   margin-right: 10px;
        // }
    }

    &__submit{
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
      // height: 50px;
      // background-color:  #38AEF0;
      // margin: auto 40px auto 15px ;
      // padding: 0px 30px 0px 30px;
      // color: #ffffff;
      // line-height: 50px;
    }

  }

}